<div class="bg-light lter b-b wrapper-md">
	<h1 class="m-n font-thin h4">用户管理</h1>
</div>

<div class="wrapper-md" ng-controller="UserListCtl">
	<div class="panel panel-default">
		<div class="panel-heading">
			用户列表
		</div>
		<div class="panel-body b-b b-light">
			<div class="col-sm-3"> <!--ng-controller="userDoCtl"-->
				<button type="submit" class="btn btn-sm btn-info" ng-click="create()">+创建</button>
				<button type="submit" class="btn btn-sm btn-danger" ng-click="delete()">－删除</button>
				<button type="submit" class="btn btn-sm btn-warning" ng-click="refresh()">刷新</button>
			</div>
			<div class="col-sm-1">
			</div>
			<div class="col-sm-8">
				<div class="row">
					<div class="col-sm-4">
						<select class="form-control input-sm w-sm inline m-r" data-ng-options="org as org.name for org in organizations"
								ng-model="selected_org"  ng-change="getAllSpaByOrg(selected_org)">
							<option value="">选择组织</option>
						</select>
					</div>
					<div class="col-sm-4">
						<select class="form-control input-sm w-sm inline m-r" data-ng-options="space as space.name for space in spaces"
								ng-model="selected_space"  ng-change="getUsersBySpace(selected_space)">
							<option value="">选择空间</option>
						</select>
					</div>
					<div class="col-sm-4">
						<input id="filter" placeholder="查找用户"  type="text" class="form-control input-sm w-sm inline m-r" ng-model="filter.filterText"/>
					</div>
				</div>
			</div>
		</div>

		<div ui-grid="gridOptions" ui-grid-selection ui-grid-pagination ui-grid-auto-resize></div>

	</div>
</div>